<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 网络访问权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WIFI_STATE"/>
    <!-- 相机 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name="com.example.goodneighbor.bean.MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/title"
        android:label="@string/app_name"
        android:roundIcon="@drawable/title"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoodNeighbor"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name=".Activity.Circle.FriendChatActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Share.ShareGoods1"
            android:exported="false" />
        <activity
            android:name=".Activity.Login.RealnameActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Share.Capture"
            android:exported="false" />
        <activity
            android:name=".Activity.Shop.ShopTuGouActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Mine.ReadyShare"
            android:exported="false" />
        <activity
            android:name=".Activity.Shop.ShopBijiaActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Shop.ShopMainActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Share.ShareReleaseActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Circle.CircleFragment"
            android:exported="false" />
        <activity
            android:name=".Activity.Login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.Main.MainFragment"
            android:exported="true" />
        <activity
            android:name=".Activity.Main.PageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Main.PostingsActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Main.MainPosating"
            android:exported="false" />
        <activity
            android:name=".Activity.Mine.AboutActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Mine.EditMessageActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Mine.MineFragment"
            android:exported="true" />
        <activity
            android:name=".Activity.Share.ShareFragment"
            android:exported="true" />
        <activity
            android:name=".bean.Adapter"
            android:exported="true" />
        <activity
            android:name=".bean.BaseAdapter"
            android:exported="true" />
        <activity
            android:name=".bean.CircleImageView"
            android:exported="true" />
        <activity
            android:name=".Activity.Mine.MineGoods1"
            android:exported="true" />
        <activity
            android:name=".bean.ShareAdapter"
            android:exported="true" />
        <activity
            android:name=".Activity.Share.SharePublish"
            android:exported="true" />
        <activity
            android:name=".bean.UserInfo"
            android:exported="true" />
        <!--chat-->
        <activity
            android:name=".bean.ArticleInfo"
            android:exported="true" />
        <activity
            android:name=".bean.EntityInfo"
            android:exported="true" />
        <activity
            android:name=".bean.ImageDetailActivity"
            android:exported="true" />
        <activity
            android:name=".bean.ImageMessage"
            android:exported="true" />
        <activity
            android:name=".bean.ImagePart"
            android:exported="true" />
        <activity
            android:name=".bean.JoinInfo"
            android:exported="true" />
        <activity
            android:name=".bean.MainApplication"
            android:exported="true" />
        <activity
            android:name=".bean.MessageInfo"
            android:exported="true" />
        <activity
            android:name=".bean.NetConst"
            android:exported="true" />
        <activity
            android:name=".bean.ReceiveFile"
            android:exported="true" />
        <activity
            android:name=".bean.RoundDrawable"
            android:exported="true" />

        <activity
            android:name=".Activity.Main.MainRanking"
            android:exported="true" />
        <activity
            android:name=".database.PrefManager"
            android:exported="true" />
        <activity
            android:name=".database.UserDBHelper"
            android:exported="true" />
        <activity
            android:name=".util.DateUtil"
            android:exported="true" />
        <activity
            android:name=".util.HttpUtil"
            android:exported="true" />
        <activity
            android:name=".util.ViewUtil"
            android:exported="true" />
        <!--chat-->
        <activity
            android:name=".util.BitmapUtil"
            android:exported="true" />
        <activity
            android:name=".util.ChatUtil"
            android:exported="true" />
        <activity
            android:name=".util.DateUtil2"
            android:exported="true" />
        <activity
            android:name=".util.MD5Util"
            android:exported="true" />
        <activity
            android:name=".util.QRCodeUtil"
            android:exported="true" />
        <activity
            android:name=".util.SocketUtil"
            android:exported="true" />
        <activity
            android:name=".util.Utils"
            android:exported="true" />
        <activity
            android:name=".util.ViewUtil2"
            android:exported="true" />




    <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
    </application>

</manifest>